/* ERICA CSS start */
/* overall style start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.landing-page {
    background-image: url('../images/growing-flower.jpg') !important;
}

body {
    background-image: url('../images/growing-flower.jpg');
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}


main {
    flex: 1;
}

.footer {
    margin-top: auto;
    padding-top: 2vmin;
}
/* overall style end */

/* nav bar override */
#navbar {
    background-color: rgba(255, 255, 255, 0.5); 
}

/* sign up form start */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3vmin;
}

.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    padding: 5vmin;
}

.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.sub_title, label {
    font-weight: 600;
    margin: 5px 0;
}

.form_group,
.submit-btn,
label,
input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.form_style,
input {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.form_style:focus,
.btn:focus,
input,
#id_category {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
}

.signup-btn, .login-btn, .submit-btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #DE5499;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #E99F4C;
}

.btn:hover {
    opacity: .9;
}

.link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
}

input,
label,
p,
.signup-btn,
.submit-btn {
    margin: auto;
}
/* sign up form end */


/* login button make smaller */
.login-btn, .submit-btn {
    padding: 0;
    max-width: 15vmin;
}

#id_status_0, #id_status_1 {
    box-shadow: none !important;
}




/* RACHEL css start */

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix {
    margin: 15px;
}

.form {
    margin: auto;
}

.form input,
.form select,
.form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}
/* rachel css end */


