/* Reset some default styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

nav h1 {
    margin: 0;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #0b0b0b;
}

a:hover {
    text-decoration: underline;
}







.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }



  .checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }
  
  .checkbox-wrapper *,
    .checkbox-wrapper ::after,
    .checkbox-wrapper ::before {
    box-sizing: border-box;
    user-select: none;
  }
  
  .checkbox-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .checkbox-wrapper .label {
    cursor: pointer;
  }
  
  .checkbox-wrapper .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }
  
  .checkbox-wrapper .label svg {
    vertical-align: middle;
  }
  
  .checkbox-wrapper .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
  }
  
  .checkbox-wrapper .check:checked + label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
  }