{% extends 'base.html' %}
{% block content %}

<h1>Habits List</h1>
<p>Order by:
  <a href="?order_by=created_at">Created at</a>
  <a href="?order_by=category">Category</a>
  {% if current_order == 'created_at' %}
      <a href="?order_by=-created_at"></a>
  {% else %}
      <a href="?order_by=created_at"></a>
  {% endif %}
</p>

<h2>Active Habits</h2>
<ul>
  {% for habit in habits %}
  {% if habit.status and not habit.paused %}
      <li>{{ habit.name }} - Created at: {{ habit.created_at }}</li>
      <div class="card">
        <a href="{% url 'detail' habit.id %}">
          <div class="container">
            <p><h2>{{ habit.name }}</h2></p>
            <p>Status: Active</p>
            <p>Category: {{ habit.category }}</p>  
          </div>
        </a>
      </div>
      {% endif %}
  {% endfor %}
</ul>

<h2>Inactive Habits</h2>
<ul>
    {% for habit in habits %}
      {% if habit.status and not habit.paused %}
        <li>{{ habit.name }} - Created at: {{ habit.created_at }}</li>
        <div class="card">
          <a href="{% url 'detail' habit.id %}">
            <div class="container">
              <p><h2>{{ habit.name }}</h2></p>
              <p>Status: Active</p>
              <p>Category: {{ habit.category }}</p>  
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </ul>
  

{% endblock %}
