{% extends 'base.html' %}
{% block content %}

<h1>Habits List</h1>
<div class="order-by">
  Order by:
  <a href="?order_by=created_at">Created at</a>
  or
  <a href="?order_by=category">Category</a>
  {% if current_order == 'created_at' %}
  <a href="?order_by=-created_at"></a>
  {% else %}
  <a href="?order_by=created_at"></a>
  {% endif %}
</div>

<div class="container">
  <div class="form_area">
    <h3>Active Habits</h3>
    <div class="card" style="width: 30rem; background-color: rgb(254, 247, 240);"> 
      <div class="card-body">
        {% for habit in habits %}
          {% if habit.status and not habit.Inactive %}
            <div class="habit-item">
              <a href="{% url 'detail' habit.id %}">
                <h5 class="card-title">{{ habit.name }}</h5>
              </a>
                <h6 class="card-subtitle mb-2 text-body-secondary">Category: {{ habit.category }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Status: Active</h6>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
<br /><br />
  <div class="form_area">
    <h3>Inactive Habits</h3>
    <div class="card" style="width: 30rem; background-color:  rgb(254, 247, 240);"> 
      <div class="card-body">
        {% for habit in habits %}
          {% if not habit.status or habit.Inactive %}
            <div class="habit-item">
              <a href="{% url 'detail' habit.id %}">
                <h5 class="card-title">{{ habit.name }}</h5>
              </a>
                <h6 class="card-subtitle mb-2 text-body-secondary">Category: {{ habit.category }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Status: Inactive</h6>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
