{% extends 'base.html' %}

{% block content %}
<h1>Edit Event</h1>

<div class="container">
  <div class="form_area">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ form.start_time.id_for_label }}">Start Time:</label>
    {{ form.start_time }}
    
    <br />
    <label for="{{ form.end_time.id_for_label }}">End Time:</label>
    {{ form.end_time }}
    <br />
    <button type="submit" class="submit-btn">Save</button>
  </form>
  </div>
</div>
<br />
<p><a href="{% url 'calendar' %}">Back to Calendar</a></p>
{% endblock %}