{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitualize</title>
</head>

<body>
    <nav>
    <h1>Habit Tracker App</h1>
        <ul>
            <li><a href="{% url 'home' %}">Habitualize</a></li>
        </ul>
        <ul class="right">
            <li><a href="{% url 'create' %}">Add A Habit</a></li>
            <li><a href="{% url 'list' %}">View All Habits</a></li>
            <li><a href="{% url 'calendar' %}">Calendar</a></li>
        </ul>
        </div>
    </nav>
{% block content %}
{% endblock %}
<footer class="page-footer">
    <div class="right">All Rights Reserved &copy; {% now "Y"%} Habitualize &nbsp;</div>
</footer>
</body>
</html>