{% extends 'base.html' %}

{% block content %}
  <h1>Journal Entry</h1>
  {% if journals %}
  <h2>Your Journals</h2>
  <ul>
      {% for journal in journals %}
          <li>{{ journal.title }} - {{ journal.date }}</li>
      {% endfor %}
  </ul>
{% else %}
  <p>No journals available.</p>
{% endif %}

{% if active_habits %}
  <h2>Your Active Habits</h2>
  <ul>
      {% for habit in active_habits %}
          <li>{{ habit.name }} - {{ habit.description }}</li>
       
      {% endfor %}
  </ul>
{% else %}
  <p>No active habits.</p>
{% endif %}
{% endblock %}